/*Creating the CSS for the Footer*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.footer {
    @apply bg-red-900 text-yellow-300 py-8 px-4 flex flex-col items-center; 
}


.footer-content {
    @apply flex flex-col md:flex-row items-center max-w-screen-lg mx-auto;
}


.image-wrapper {
    @apply relative w-32 h-auto md:mr-8 mb-4 md:mb-0;    
}

.footer-image {
   @apply w-32 h-auto md:mr-8 mb-4 md:mb-0 absolute left-14
}

.image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(80, 77, 77, 0.5);
    z-index: -20;
    border-radius: 20px;
    box-shadow: 10 4px 8px rgba(99, 97, 97, 0.5);

}

.review-container {
    @apply flex flex-col flex-1;
}

/* .footer-heading {
    @apply text-xl font-semibold mb-4;
}

.review {
@apply bg-gray-700 p-3 mb-2 rounded-md;
<<<<<<< HEAD
}

.consult-text {
    @apply text-lg font-bold mb-4 absolute right-0 bottom-28
} 
    */
=======
} */
>>>>>>> 65f6291542c1319caa643a4265b8cccf3194f3aa
